.menu-items{
    display: flex;
    margin: 0 30px;
}
.menu-item{
    display: flex;
    margin: 0 15px;
    align-items: center;
}
a{
    text-decoration: none;
}

.menu-item{
    font-size: 1.8rem;
    color: #EFF2F1;
}

.menu-item:hover{
    color: #f11602;
}

@media(max-width: 720px) {
    .menu-items{
       display: none; 
    }
}

@media(max-width: 460px){
    
}