.product {
  width: 300px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgb(0, 0, 0, 0.4);
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product > img {
  height: 170px;
  border-radius: 8px;
}

.product-info > p {
  margin-bottom: 8px;
}

.product-info > .price {
  font-weight: bold;
}

.product-name {
  font-size: 1.2rem;
  overflow: hidden;
}

.product-description {
  font-size: 1rem;
}

.product-info > button {
  font-size: 1.3rem;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #1aef79;
  border: none;
  border-radius: 8px;
  padding: 4px;
}

.product-info > button:hover {
  background-color: #1aef7abb;
}
