.products{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.products-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products-title{
    margin: 3px;
    display: flex;
    justify-content: space-between;
    margin:0 15px ;
}