.slide-show{
    width: 70%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
}

.show{
    transform: translateX(0);
}